.image {
  width: 100%;
}

.card-heading {
  font-size: 1rem;
}

.card-desc {
  font-size: .6rem;
}

.box {
  border: 1px solid grey;
  margin: 1rem;

  padding: 1rem;
  text-align: center;
}

.box {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.box:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.box:not(:hover) {
  transform: translateY(0);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.filter-btn {
  width: 38px;
  height: 38px;
  margin-left: 1rem;
}

.big-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max:375px) {
  .card-heading {
    font-size: .5rem;
  }

  .card-desc {
    font-size: .3rem;
  }

  .App {
    padding: 1rem;
  }
}